<!DOCTYPE html>
<html lang="en">
  <%- include("../layouts/header")%>
  <body>
    <%- include("../layouts/navbar")%>
    <div class="container my-3">
      <div class="row text-center">
        <h5>Customers Page</h5>
        <div class="col-12 text-end">
          <a class="btn btn-primary" href="/customers/add" role="button">Add Customer</a>
        </div>
      </div>
      <div class="row">
        <div class="col-12 my-2">
            <!-- TABLE -->
            <table id="example" class="table table-striped" style="width:100%">
            <thead>
                <tr>
                <th>ID</th>
                <th>Name</th>
                <th>NIK</th>
                <th>Address</th>
                <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% customers.forEach(customer => { %>
                    <tr>
                        <td><%= customer.id %></td>
                        <td>
                            <div class="row">
                                <div class="col-2">
                                    <img class="img-fluid rounded-circle" src="<%= customer.image %>" alt="" srcset="">
                                </div>
                                <div class="col-10">
                                    <h6><%= customer.name %></h6>
                                  </div>
                                </div>
                              </td>
                              <td><%= customer.nik %></td>
                              <td><%= customer.address %></td>
                        <td>
                            <a class="btn btn-primary" href="/customers/detail/<%=customer.id%>" role="button">Detail</a>
                            <a class="btn btn-warning" href="/customers/update/<%=customer.id%>" role="button">Update</a>
                            <a class="btn btn-danger" href="/customers/delete/<%=customer.id%>" role="button">Delete</a>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
            </table>
        </div>
      </div>
      <div class="row text-center my-2">
      </div>
    </div>
  <%- include("../layouts/footer")%>
  <%- include("../layouts/script")%>
  </body>
</html>
